ion-slides {
  height: 100%;
}
.item.item-trns {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
//class="item item-trns text-center"

.awal{
  background-color: #5CE1E6;
}

.cont{
  background-color: #f9f9f9;
  color: black;
  height: 100%;
  position: center;
  padding-top: 30%;
}
