.text-sub-heading {
  color: var(--ion-color-primary-shade);
  font-weight: bold;
  margin: 10px 15px;
}

.text-heading {
  font-weight: bold;
  margin: 10px 15px 0px 15px;
}

.text-bold {
  font-weight: bold;
}