<ion-header>
  <ion-toolbar>
    <ion-title>Outlet Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h4 class="text-heading">ORDER ID : ASD26137HSDFJSH</h4>
    </ion-row>
    <ion-row>
        <h5 class="text-sub-heading">Laundry Details</h5>
    </ion-row>
<!-- GENERAL GROUP -->
    <ion-item-group>
      <ion-item-divider color="light">
        <ion-label style="font-weight: bold;">General</ion-label>
      </ion-item-divider>
      <ion-item>
          <ion-label slot="start">9 x Item 1</ion-label>
          <ion-note slot="end">Rp 50000</ion-note>
      </ion-item>
      <ion-item>
        <ion-label slot="start">5 x Item 2</ion-label>
        <ion-note slot="end">Rp 50000</ion-note>
      </ion-item>
      <ion-item>
        <ion-label slot="start">2 x Item 1</ion-label>
        <ion-note slot="end">Rp 50000</ion-note>
      </ion-item>
      <ion-item>
        <ion-label slot="start">3 x Item 2</ion-label>
        <ion-note slot="end">Rp 50000</ion-note>
      </ion-item>
    </ion-item-group>
<!--  SPECIAL GROUP  -->
    <ion-item-group>
      <ion-item-divider color="light">
        <ion-label style="font-weight: bold;">Special</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label slot="start">1 x Item 1</ion-label>
        <ion-note slot="end">Rp 50000</ion-note>
      </ion-item>
      <ion-item>
        <ion-label slot="start">1 x Item 2</ion-label>
        <ion-note slot="end">Rp 50000</ion-note>
      </ion-item>
    </ion-item-group>
<!--  OTHERS GROUP  -->
    <ion-item-group>
      <ion-item-divider color="light">
        <ion-label style="font-weight: bold;">Others</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label slot="start">2 x Item 1</ion-label>
        <ion-note slot="end">Rp 50000</ion-note>
      </ion-item>
      <ion-item>
        <ion-label slot="start">3 x Item 2</ion-label>
        <ion-note slot="end">Rp 50000</ion-note>
      </ion-item>
    </ion-item-group>
    <ion-item color="success">
      <ion-label slot="start" style="font-weight: bold;">Total</ion-label>
      <ion-note slot="end" style="color: #FFFFFF; font-size: 14px; font-weight: bold;">Rp 100000</ion-note>
    </ion-item>
  <!-- PICKUP & DELIVERY DETAILS -->
    <ion-row>
      <h5 class="text-sub-heading">Pickup & Delivery Information</h5>
    </ion-row>
    <ion-row class="ion-margin">
      <ion-col class="ion-no-padding">
        <ion-text class="text-bold">Origin</ion-text>
        <br>
        Address User
      </ion-col>
      <ion-col class="ion-no-padding">
        <ion-text class="text-bold">Destination</ion-text>
        <br>
        Nama Outlet Rewash
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-start">
      <ion-text class="text-bold">Pickup</ion-text>
    </ion-row>
    <ion-row class="ion-margin-start">
      10 September 2020, 08:30
    </ion-row>
    <ion-row class="ion-margin-start">
      <ion-text class="text-bold" >Delivery</ion-text>
    </ion-row>
    <ion-row class="ion-margin-start">
      15 September 2020, 17:30
    </ion-row>
    <ion-row>
      <h5 class="text-sub-heading">Progress</h5>
    </ion-row>
    <ion-button expand="full">COMPLETE ORDER</ion-button>
  </ion-grid>
</ion-content>
