.ion-card-history {
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  background-color: var(--ion-color-light-tint);
}

.ion-history-icon {
  margin: 0 0 0 17px;
  width: 40px;
  height: auto;
}

.ion-outlet-name {
  font-weight: bold;
  font-size: 14px;
}

.ion-order-date {
  font-size: 12px;
}
