<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--      Home-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content [fullscreen]="true">
  <!--  <ion-header collapse="condense">-->
  <!--    <ion-toolbar>-->
  <!--      <ion-title size="large">Home</ion-title>-->
  <!--    </ion-toolbar>-->
  <!--  </ion-header>-->

  <!--  <app-explore-container name="Tab 1 page">-->
  <!--  </app-explore-container>-->
  <ion-content>
    <!-- Hello Message -->
    <ion-grid class="ion-hello-message">
      <ion-row>
        <ion-col size="9">
          <div class="ion-though-bubble">
            <ion-text>
              Hallo John Doe
            </ion-text>
          </div>
        </ion-col>
        <ion-col size="3">
          <ion-thumbnail class="ion-mascot">
            <ion-img src="/assets/static/mascot/duck.svg"></ion-img>
          </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--  Banner -->
    <ion-card class="ion-card-banner">
      <ion-img src="/assets/static/promotions/banner1.png"></ion-img>
    </ion-card>

    <!-- Location Search -->
    <ion-searchbar
            showCancelButton="focus"
            search-icon="location"
            cancel-button-icon="close"
            class="ion-search-location"
    >
    </ion-searchbar>

    <!-- Ongoing Orders -->
    <ion-grid>
      <!-- Text -->
      <ion-text color="dark" class="ion-title">
        Ongoing Orders
      </ion-text>

      <!-- Card -->
      <!-- Empty Card -->
      <ion-card [routerLink]="['/outlet']">
        <ion-card-content class="ion-card-create-order">
          <h2>Create an Order</h2>
          <ion-icon name="add-circle"></ion-icon>
        </ion-card-content>
      </ion-card>

      <!-- With Content Card -->
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Rewash Merchant Name</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Stepper
        </ion-card-content>
        <ion-grid class="ion-order-card">
          <ion-row>
            <ion-col size="9" class="ion-order-card-status">
              <ion-text>
                <h6>Status</h6>
              </ion-text>
            </ion-col>
            <ion-col size="3" class="ion-order-card-chat">
              <ion-icon name="chatbubbles"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-grid>
  </ion-content>
</ion-content>
