.ion-profile-grid {
  padding: 0;
}

.ion-profile-header {
  background-color: var(--ion-color-secondary);
  height: 130px;
}

.ion-profile-avatar {
  display: flex;
  width: 100px;
  height: 100px;
  margin-top: 80px;
  margin-left: 46px;
}

.ion-profile-information {
  margin-left: 52px;
  margin-top: 65px;
  h6 {
    color: #51C6CA;
    font-weight: bold;
    line-height: 16px;
  }
  p, h6 {
    margin: 2px 0px;
    font-size: 14px;
  }
}

.ion-profile-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
