<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-profile-grid">
    <ion-row class="ion-profile-header">
      <ion-avatar class="ion-profile-avatar">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </ion-row>
    <div class="ion-profile-information">
      <ion-row >
        <ion-text>
          <h6>{{user.name}}</h6>
        </ion-text>
      </ion-row>
      <ion-row >
        <p>{{ user.phoneNumber }}</p>
      </ion-row>
      <ion-row >
        <p>{{ user.email }}</p>
      </ion-row>
      <ion-row >
        <p>{{ user.address[0]?.locationName || 'No Address Has Been Saved' }}</p>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="ion-profile-button">
          <ion-button size="small">Edit</ion-button>
        </ion-col>
        <ion-col size="3" class="ion-profile-button">
          <ion-button (click)="signOut()" size="small" color="danger">Logout</ion-button>
        </ion-col>
      </ion-row>
    </div>

  </ion-grid>
</ion-content>
