// GLOBAL
ion-tab-bar {
  --background: var(--ion-color-light-tint);;
}

ion-tab-button {
  --color: var(--ion-color-medium);
  --color-focused: var(--ion-color-light);
  --color-selected: var(--ion-color-primary-shade);

  &[aria-selected="true"] {
    ion-icon {
      color: var(--ion-color-secondary) !important;
      /* --ion-color-base: var(--ion-color-secondary) !important; */
    }
  }
}

/*
* HOME PAGE

* Class Naming Style :
* ion-<component>-<name>
*/
.ion-card-banner{
  display: flex;
  flex-direction: column;
  //height: 150px;
}

.ion-card-create-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 113px;
  background-color: var(--ion-color-light-tint);

  ion-icon {
    width: 30px;
    height: 30px;
  }
}

.ion-hello-message {
  background-color: var(--ion-color-primary);
}

.ion-though-bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 50px;
  color: var(--ion-color-primary-shade);
  font-weight: bold;
  height: 100%;
  ion-text {
    padding-left: 16px;
  }
}

.ion-search-location {
  --icon-color: var(--ion-color-secondary);
  --background: var(--ion-color-light);
}

.ion-order-card {
  margin: 0;
  padding: 0;
  .ion-order-card-status {
    background-color: var(--ion-color-primary);
    color: #FFFFFF;
    padding-left: 15px;
    font-weight: bold;
  }
  .ion-order-card-chat {
    background-color: var(--ion-color-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon {
      color: #FFFFFF;
      width: 24px;
      height: 24px;

    }
  }
}

.ion-mascot {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: auto;
}

.ion-title {
  font-weight: bold;
  margin-left: 16px;
  color: #FFFFFF;
}
