<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Input Items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-input-dropdown></app-input-dropdown>
</ion-content>

<!--<ion-footer>-->
  <lib-ionic-pullup (expanded)="footerExpanded()" (collapsed)="footerCollapsed()" [(state)]="footerState" [toolbarTopMargin]="100" [minBottomVisible]="0">
    <ion-toolbar color="secondary" (click)="toggleFooter()" #ionDragFooter mode="ios">
      <div class="ion-pullup-bar-container">
<!--        <div class="ion-pullup-bar"></div>-->
        <h6>Order Summary</h6>
      </div>
    </ion-toolbar>
    <ion-content>
      <app-price-summary-card></app-price-summary-card>
    </ion-content>
  </lib-ionic-pullup>
<!--</ion-footer>-->
