<ion-grid>
  <!--Laundry Smell-->
  <ion-text>
    <h5 class="text-sub-heading">Choose Scent</h5>
  </ion-text>
  <ion-radio-group>
    <ion-list *ngFor="let scent of AllScents" lines="full" class="ion-no-padding">
      <ion-item>
        <ion-label>
          {{scent.NAME}}
        </ion-label>
        <ion-radio value="{{scent.KEY}}"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>
  <ion-item>
    <ion-label>Request Bag on Pickup</ion-label>
    <ion-checkbox slot="end" value="Bag"></ion-checkbox>
  </ion-item>
  <ion-text>
    <h5 class="text-sub-heading">Additional Notes</h5>
  </ion-text>
  <ion-item>
    <ion-textarea placeholder="Anything else we should know?"></ion-textarea>
  </ion-item>
</ion-grid>
