ion-grid {
  display: flex;
  flex-direction: column;
  //border: 1px solid blue;
  height: auto;
  padding: 0;
}

ion-row {
  //border: 1px solid red;
  width: 100%;
  align-items: center;
  justify-content: center;

}

ion-col {
  //border: 1px solid green;
  padding: 0;
}

ion-img {
  padding: 0;
}

.authentication-header {
  justify-content: flex-start;
  height: 30%;
  margin-top: 0;
  h1 {
    font-weight: bold;
    font-size: 2em;
  }
  .authentication-bubble {
    height: 100%;
  }
}

.authentication-basket {
  height: 40%;
}

.authentication-basket {
  height: 40%;
}

.duck {
  height: 100px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.authentication-forgot-password {
  margin: 0.5em 0;
  padding-left: 1em;
  //text-decoration: underline red;
}

.orlines {
  padding: 0;
  margin: 0;
  height: 3em;
}

.orline {
  padding: 0 1em;
}
.ortext {
  text-align: center;
  p {
    flex-basis: 0;
  }
}

.buttons {
  margin: 0 2em;
}

.banner-login {
  height: 260px !important;
  background-image: url("../../assets/banner/1.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.banner-signup {
  height: 260px !important;
  background-image: url("../../assets/banner/2.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
