.ion-pullup-bar {
  height: 4px;
  width: 120px;
  background-color: var(--ion-color-medium);
}

.ion-pullup-bar-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.ion-bottom-toolbar {
  max-height: 30px;
  padding: 15px 30px;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px -4px 4px 0px #00000024;
  z-index: 1;
  padding: 0;
}
